$utilities: () !default;
$utilities: map-merge(
  ( 
    "font-size": (
      rfs: false,
      property: font-size,
      class: fs,
      values: $font-sizes,
      responsive:true
    ),
  ),
  $utilities
);