<header class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container px-0">
      <h1>
        <a
          class="navbar-brand"
          class="d-flex justify-content-between align-items-center"
          href="./index.html"
          ><img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/logo.png"
            alt="logo"
            class="me-4 logo"
          /><span
            class="font-yeseva me-1 fs-5 d-none d-md-inline-block align-middle"
            >7TAO</span
          >
          <span class="font-serif me-9 d-none d-md-inline-block"
            >活動訂票網</span
          ></a
        >
      </h1>

      <form class="d-flex" role="search">
        <input
          class="form-control rounded-0 border border-2 border-primary search-bar"
          type="search"
          placeholder="探索活動"
          aria-label="Search"
        />
        <button class="btn btn-primary rounded-0" type="submit">
          <i class="icofont-search-1 text-secondary"></i>
        </button>
      </form>
      <button
        class="navbar-toggler border-primary"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#memberCenter"
        aria-controls="memberCenter"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul class="d-none d-lg-flex navbar-nav ms-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link fs-9 member link-primary" href="#"
            ><i class="icofont-ui-file me-1"></i
            ><span class="font-yeseva">REGISTER</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link fs-9 member link-primary" href="./login.html"
            ><i class="icofont-ui-user me-1"></i
            ><span class="font-yeseva">LOGIN</span></a
          >
        </li>
      </ul>
    </div>
  </nav>
</header>
<hr class="my-0 border-primary border-3 border-top mb-4 mb-lg-6 opacity-100" />
<div class="collapse navbar-collapse d-lg-none" id="memberCenter">
  <ul class="container navbar-nav mb-2 mb-lg-0 ps-3">
    <li class="nav-item">
      <a class="nav-link fs-9 link-primary" href="#"
        ><i class="icofont-ui-file me-1"></i
        ><span class="font-yeseva">REGISTER</span></a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link fs-9 link-primary" href="./login.html"
        ><i class="icofont-ui-user me-1"></i
        ><span class="font-yeseva">LOGIN</span></a
      >
    </li>
  </ul>
  <hr
    class="my-0 border-primary border-3 border-top mb-4 mb-lg-6 opacity-100"
  />
</div>
