.logo{
  width: 40px;
  height: 40px;
  
  @include md{
    width: 53px;
    height: 53px;
  }
}

.search-bar{
  width: 168px;
  @include md{
    width: 200px;
  }
  
  @include lg{
    width: 284px;
  }
}

.member:hover{
  color: $success !important;
}  
