<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>活動結帳</title>
    <link rel="icon" href="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/logo.png" type="image/x-icon">
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container mt-5 mt-md-10 mb-5 mb-md-9">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <ol
            class="d-flex justify-content-between list-unstyled position-relative process"
          >
            <li class="d-flex flex-column align-items-center font-serif">
              <span
                class="py-1 px-2 py-md-3 px-md-11 border border-1 border-primary bg-primary text-secondary mb-1 mb-md-2 active"
                >1</span
              >
              <span class="font-serif">訂單確認</span>
            </li>
            <li class="d-flex flex-column align-items-center font-serif">
              <span
                class="number py-1 px-2 py-md-3 px-md-11 border border-1 border-primary text-primary mb-1 mb-md-2"
                >2</span
              >
              <span class="font-serif">結帳付款</span>
            </li>
            <li class="d-flex flex-column align-items-center font-serif">
              <span
                class="number py-1 px-2 py-md-3 px-md-11 border border-1 border-primary text-primary mb-1 mb-md-2"
                >3</span
              >
              <span class="font-serif">訂購結果</span>
            </li>
          </ol>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h2 class="fs-4 fs-md-3 font-serif text-md-center mb-5 mb-md-6">
            返老還童-制服聯誼
          </h2>
          <table class="table">
            <tbody>
              <tr class="border-top border-2 border-primary">
                <th scope="row" class="font-serif">日期</th>
                <td class="text-end">2023/5/12</td>
              </tr>
              <tr class="border-top border-bottom border-1 border-primary">
                <th scope="row" class="font-serif">票種</th>
                <td class="text-end">改頭換面票（含大改造）</td>
              </tr>
              <tr class="border-top border-1 border-primary">
                <th scope="row" class="font-serif">票價</th>
                <td class="text-end">$8000</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="text-center checkout mb-4">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
        alt="sparkler"
        class="sparkler"
      />
    </div>

    <div class="container mb-9 mb-md-10">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h3 class="fs-5 font-serif text-center mb-4">聯絡人資料</h3>
          <form action="#" class="checkout-form">
            <div class="mb-4">
              <label for="name" class="mb-2">聯絡人姓名</label><br />
              <input
                type="text"
                id="name"
                placeholder="請輸入聯絡人名稱"
                class="px-4 py-2 fs-9 border border-2 border-primary bg-body rounded-0 w-100"
              />
            </div>
            <div class="mb-4">
              <label for="email" class="mb-2">Email</label><br />
              <input
                type="email"
                id="email"
                placeholder="請輸入Email"
                class="px-4 py-2 fs-9 border border-2 border-primary bg-body rounded-0 w-100"
              />
            </div>
            <div class="mb-5 mb-md-6">
              <label for="phone" class="mb-2">手機</label><br />
              <input
                type="text"
                id="phone"
                placeholder="請輸入手機號碼"
                class="px-4 py-2 fs-9 border border-2 border-primary bg-body rounded-0 w-100"
              />
            </div>
            <a
              type="button"
              href="./payment.html"
              class="d-block mx-auto checkout-btn btn btn-primary py-4 rounded-0 border-0 fw-bold fs-9 mb-4"
            >
              確認表單資料<span class="material-icons-round align-bottom">
                keyboard_double_arrow_right
              </span>
            </a>
            <button
              type="button"
              class="cancel-btn btn py-2 px-2 rounded-0 border-0 fs-6 text-gray d-block mx-auto"
            >
              取消購票
            </button>
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
