<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>7TAO活動總覽</title>
    <link rel="icon" href="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/logo.png" type="image/x-icon">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container mb-3 mb-md-6">
      <div
        class="d-flex justify-content-between align-items-center border border-primary border-3 px-3 px-md-6 py-4 py-md-5"
      >
        <h2 class="font-yeseva fs-6 fs-md-1 mb-0">EVENTS</h2>
        <h2 class="font-serif fs-md-5 mb-0">所有活動</h2>
      </div>
    </div>
    <ul class="container mb-6 font-serif list-unstyled d-flex flex-wrap event">
      <li>  <a
        href="#"
        class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
        >演出</a
      ></li>
    <li>    <a
      href="#"
      class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2  position-relative"
      >音樂</a
    ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >舞蹈</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >戲劇</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >音樂會</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >課程講座</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >社群活動</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >展覽</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >研討會</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >電影</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >電音派對</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 me-2 position-relative"
    >遊戲競賽</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 mb-md-0 me-2 position-relative"
    >親子</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 mb-md-0 me-2 position-relative"
    >藝文活動</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 mb-md-0 me-2 position-relative"
    >運動</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 mb-md-0 me-2 position-relative"
    >交通旅遊</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 mb-2 mb-md-0 me-2 position-relative"
    >美食</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 me-2 position-relative"
    >資訊科技</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 me-2 position-relative"
    >聯誼</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 me-2 position-relative"
    >戶外</a
  ></li>
  <li> <a
    href="#"
    class="tag border border-primary text-decoration-none d-inline-block px-5 py-1 me-2 position-relative"
    >線上活動</a
  ></li>
    </ul>
    <div class="container mb-6 mb-md-10">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >19 MAY 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/01.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="watch movie"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">邪典電影派對——房間</h3>
              <p class="card-text">
                你有聽說過「大災難家」裡面的主角 Tommy Wiseau
                製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">社群活動</span>
              </a>
           
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
            
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >23 MAY 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/02.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="dance"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">怪舞俱樂部</h3>
              <p class="card-text">
                覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">演出</span>
              </a>
             
                <a href="#" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal" data-bs-target="#popup"
                  >檢視活動<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
             
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >30 MAY 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/03.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="watch movie"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">哈利波特馬拉松</h3>
              <p class="card-text">
                每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">聯誼</span>
              </a>
          
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
            
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >12 June 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/04.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="vollyball"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">皮卡丘排球大賽</h3>
              <p class="card-text">
                還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">遊戲競賽</span>
              </a>
             
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal" 
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
             
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >17 June 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/05.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="cheers"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">酒精路跑</h3>
              <p class="card-text">
                身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">社群活動</span>
              </a>
             
                <a href="#" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal" data-bs-target="#popup"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
             
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >9 July 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/06.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="exhibition"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">展覽——我的房間</h3>
              <p class="card-text">
                每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">展覽</span>
              </a>
           
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
            
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >12 JULY 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/07.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="forest"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">邪典電影派對——房間</h3>
              <p class="card-text">
                喜歡山水、喜歡音樂嗎？一起在溪邊來場浪漫的沉浸式森林活動吧！結合四大戶外探索類別、超過 15 項體驗與工作坊、新興音樂人的草地演唱。
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">演出</span>
              </a>
            
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
              
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >16 JULY 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/08.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="stones at sea"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">疊疊樂大賽</h3>
              <p class="card-text">
                來到七星潭會想到什麼呢？絕對是數也數不清的扁扁石頭吧！有這項技能卻沒有機會大展身手的你，展露頭角的機會來囉！
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">遊戲競賽</span>
              </a>
            
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
            
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >22 JULY 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/09.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="students"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">返老還童-制服聯誼</h3>
              <p class="card-text">
                由戀愛家教「艾德溫」主辦策劃，讓各位在安排好的青春行程中擁有自然的純愛互動體驗，互相餵食餅乾、觀察對方手相，有趣的互動環節讓你/妳怦然心動！
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">聯誼</span>
              </a>
             
                <a href="./landing-page.html" class="text-decoration-none know-more fw-bold position-relative" 
                  >檢視活動<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
              
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-9 mb-lg-0" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >28 JULY 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/10.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="barbecue"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">野外求生17天</h3>
              <p class="card-text">
                野外求生體驗，我們將在沒有水、沒有電的自然環境裡，學習各項生存技能，課程內容包含生火、水源取得及淨化、射箭、木食器製作、無具野炊、野地編繩和狩獵技能...
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">戶外</span>
              </a>
            
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
            
            </div>
          </div>
        </div>
        <div class="col mb-5 mb-md-0" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >5 AUG 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/11.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="music festival"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">耳熟能詳音樂祭</h3>
              <p class="card-text">
                對你來說聽都沒聽過的團，但是音樂一下保證跟著唱，重磅邀請各界隱藏天籟歌手、天團，不想曬太陽也可以在樹下當 KTV 跟著唱，唱不出來服務台報到立馬退費！
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">演出</span>
              </a>
              
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
            
            </div>
          </div>
        </div>
        <div class="col" data-aos="fade-up">
          <div class="card border-0 activity h-100">
            <span
              class="card-header fs-5 fs-md-4 fs-lg-3 text-nowrap font-yeseva border-bottom border-primary border-3 py-0 px-0"
              >10 AUG 2023</span
            >
            <img
              src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/event/12.jpg"
              class="card-img-top my-3 rounded-0 img-fluid"
              alt="exhibition"
            />
            <div class="card-body px-0 pt-0">
              <h3 class="card-title font-serif fs-9 fs-md-6">野營發呆大賽</h3>
              <p class="card-text">
                你也是那種動不動就容易放空、神遊的人嗎？這輩子靠這技能出頭的機會來了，在恆春山林一起神遊、盡情地發呆吧！冠軍可以得到價值十萬的綿豆腐床墊一張！
              </p>
            </div>
            <div
              class="card-footer border-top border-bottom border-primary border-2 rounded-0 d-flex justify-content-between align-items-center px-0"
            >
              <a href="#" class="text-decoration-none">
                <img
                  src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
                  alt="sparkler"
                  class="sparkler"
                /><span class="font-serif align-middle">遊戲競賽</span>
              </a>
              
                <a href="#popup" class="text-decoration-none know-more fw-bold position-relative" data-bs-toggle="modal"
                  >開賣中<span class="material-icons-round align-bottom">
                    keyboard_double_arrow_right
                  </span></a
                >
              
            </div>
          </div>
        </div>
        <div class="modal fade" id="popup" tabindex="-1" aria-labelledby="popup" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content text-center rounded-0">
              <div class="modal-header border-bottom border-3 border-primary d-flex justify-content-center">
                <h4 class="modal-title fs-6 font-serif mx-auto" id="popup">立刻成為7TAO會員</h4>
                <button type="button" class="ms-0 text-primary bg-transparent border-0" data-bs-dismiss="modal" aria-label="Close"><span class="material-icons-round">
                  close
                  </span></button>
              </div>
              <div class="modal-body py-9">
                <p class="mb-5">
                  立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
                  您也可以先報名活動，日後再註冊帳號，<br>
                  系統會在認證您的Email後，協助您找回舊的訂單。
                </p>
                <button type="button" class="btn btn-primary text-secondary py-2 px-6 modal-btn rounded-0 fw-bold">立即成為會員</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container d-flex mb-9 mb-md-10"> 
      <nav aria-label="Page navigation" class="mx-auto">
      <ul class="pagination font-serif ">
        <li class="page-item me-2"><a class="page-link rounded-0" href="#"><i class="icofont-arrow-left"></i></a></li>
        <li class="page-item me-2"><a class="page-link rounded-0" href="#">1</a></li>
        <li class="page-item me-2"><a class="page-link rounded-0" href="#">2</a></li>
        <li class="page-item me-2"><a class="page-link rounded-0" href="#">3</a></li>
        <li class="page-item me-2"><a class="page-link rounded-0" href="#">4</a></li>
        <li class="page-item me-2"><a class="page-link rounded-0" href="#">5</a></li>
        <li class="page-item"><a class="page-link rounded-0" href="#"><i class="icofont-arrow-right"></i></a></li>
      </ul>
    </nav></div>
   
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
     AOS.init();
    </script>
  </body>
</html>
