<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登入7TAO會員</title>
    <link rel="icon" href="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/logo.png" type="image/x-icon">
</head>
<body>
    <%- include('./layout/header'); -%>


  
      <div class="container login mt-5 mt-md-10">
        <div class="row">
          <div class="col-md-4 mx-auto">
            <img
            src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2023week6/sparkler.png"
            alt="sparkler"
            class="sparkler mx-auto d-block mb-4"
          />
            <h3 class="fs-5 font-serif text-center mb-4">會員登入</h3>
            <form action="#" class="checkout-form">
              <div class="mb-4">
                <label for="account" class="mb-2">帳戶</label><br />
                <input
                  type="text"
                  id="account"
                  placeholder="請輸入帳號"
                  class="px-4 py-2 fs-9 border border-2 border-primary bg-body rounded-0 w-100"
                />
              </div>
              <div class="mb-5 mb-md-6">
                <label for="password" class="mb-2">密碼</label><br />
                <input
                  type="password"
                  id="password"
                  placeholder="請輸入密碼"
                  class="px-4 py-2 fs-9 border border-2 border-primary bg-body rounded-0 w-100"
                />
              </div>
            
              <button
                type="button"
                class="d-block mx-auto btn btn-primary py-4 rounded-0 border-0 fw-bold fs-9 mb-4 w-100"
              >
                登入<span class="material-icons-round align-bottom">
                  keyboard_double_arrow_right
                </span>
              </button>
              
            </form>
          </div>
        </div>
      </div>






    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
